﻿@model Gyumolcslevek.Web.Models.GyumolcsleViewModel
@{
    ViewBag.Title = "GyumolcsleIndex";
}

<h2>Gyumolcsle Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("GyumolcsleEdit", Model.EditedGyumolcsle)

@Html.Partial("GyumolcsleList", Model.ListOfGyumolcsles)

