﻿@model Gyumolcslevek.Web.Models.GyumolcsleModel

<h2>Edit one car</h2>

@using (Html.BeginForm("Edit", "Gyumolcslevek"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()
    //CSRF = Cross Site Request Forgery

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.BrandName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.BrandName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Country)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Country)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Fruits)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Fruits)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Amount)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Amount)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Profit)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Profit)</div>

    <input type="submit" value="SEND" />
}

<form>

</form>