﻿@model Gyumolcslevek.Web.Models.GyumolcsleModel
@{
    ViewBag.Title = "GyumolcsleDetails";
}

<h2>GyumolcsleDetails</h2>

<!--<a href="/Cars/Index">Back to the list.</a>-->
@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>The ID for the Gyumolcsle</td>
        <td>@Model.Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.BrandName)</td>
        <td>@Html.DisplayFor(m => m.BrandName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Country)</td>
        <td>@Html.DisplayFor(m => m.Country)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Fruits)</td>
        <td>@Html.DisplayFor(m => m.Fruits)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Amount)</td>
        <td>@Html.DisplayFor(m => m.Amount)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Profit)</td>
        <td>@Html.DisplayFor(m => m.Profit)</td>
    </tr>
</table>
